<div id="htmxItem" class="gallery_section layout_padding">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <h1 class="gallery_taital">Producten</h1>
        </div>
    </div>
    <div class="gallery_section_2">
      <div class="row">
        {{range $i, $p := .Products}}
        <div class="col-md-4">
          <div class="gallery_box">
            <div class="gallery_img"><img src="images/p/{{index (images $p.Images) 0}}" /></div>
            <script>console.log("IMAGE: {{index (images $p.Images) 0}}")</script>
            <h3 class="types_text">{{$p.Title}}</h3>
            <p class="looking_text">Start per dag €{{$p.Price}}</p>
            <div class="read_bt"><a href="#" hx-get="/product/{{$p.ID}}" hx-trigger="click" hx-target="#htmxItem" hx-swap="outerHTML">Details</a></div>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </div>
</div>
